/* ///////////////////////// Мобильные устройства ///////////////////////// */
@media screen and (max-width: 414px) and (orientation: portrait) {
  /* Вертикальная ориентация для мобильных устройств иногда 430px */
  .f3,
  #pr2 {
    display: inline;
  }
}

@media screen and (max-width: 414px) and (orientation: landscape) {
  /* Горизонтальная ориентация для мобильных устройств */
  .f3,
  #pr2 {
    display: inline;
  }
}

/* ///////////////////////// Планшеты ///////////////////////// */
@media screen and (min-width: 415px) and (max-width: 767px) and (orientation: portrait) {
  /* Вертикальная ориентация для планшетов */
  .f3,
  #pr2 {
    display: inline;
  }
}

@media screen and (min-width: 415px) and (max-width: 767px) and (orientation: landscape) {
  /* Горизонтальная ориентация для планшетов */
  .f3,
  #pr2 {
    display: inline;
  }
}

/* ///////////////////////// Маленькие экраны ///////////////////////// */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Вертикальная ориентация для экранов от 769px до 1024px (маленькие экраны) */
  .f2,
  #pr2 {
    display: inline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Горизонтальная ориентация для экранов от 769px до 1024px (маленькие экраны) */
  .f2,
  .pr {
    display: inline;
  }
}

/* ///////////////////////// Средние экраны ///////////////////////// */
@media screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: portrait) {
  /* Вертикальная ориентация для экранов от 1025px до 1366px */
  .f1,
  .pr {
    display: inline;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
  /* Горизонтальная ориентация для экранов от 1025px до 1366px */
  .f1,
  .pr {
    display: inline;
  }
}

/* ///////////////////////// Большие экраны ///////////////////////// */
@media screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: portrait) {
  /* Вертикальная ориентация для экранов от 1367px до 1920px */
  .f1,
  .pr {
    display: inline;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: landscape) {
  /* Горизонтальная ориентация для экранов от 1367px до 1920px */
  .f1,
  .pr {
    display: inline;
  }
}

/* ///////////////////////// Очень большие экраны ///////////////////////// */
@media screen and (min-width: 1921px) and (orientation: portrait) {
  /* Вертикальная ориентация для экранов шире 1920px */
  .f1,
  .pr {
    display: inline;
  }
}

@media screen and (min-width: 1921px) and (orientation: landscape) {
  /* Горизонтальная ориентация для экранов шире 1920px */
  .f1,
  .pr {
    display: inline;
  }
}

/* ///////////////////////// Ультра-HD экраны (4K и выше) ///////////////////////// */
@media screen and (min-width: 2561px) {
  /* Поддержка для ультра-HD экранов */
  .f1,
  .pr {
    display: inline;
  }
}
