/* ///////////////////////// Мобильные устройства ///////////////////////// */
@media screen and (max-width: 414px) and (orientation: portrait) {
  /* Вертикальная ориентация для мобильных устройств иногда 430px */
  .f4 {
    display: inline;
    text-align: center;
    width: 100vw;
  }

  .god_anima,
  #op2 {
    display: none;
  }

  #pr2 {
    display: inline;
  }

  .blur_1 {
    display: none;
  }

  .h1 {
    font-size: 11vw;
    color: #e8e8e8;
    position: absolute;
    margin-top: -207vw;
    margin-left: 6vw;
  }

  .h2 {
    font-size: 5vw;
    font-family: "JostR";
    color: #d3d3d3;
    position: absolute;
    margin-top: -195vw;
    margin-left: 13vw;
  }

  .h3 {
    font-size: 5vw;
    font-family: "JostR";
    color: #bebdbd;
    position: absolute;
    margin-top: -190vw;
    margin-left: 17vw;
  }

  .section2 {
    margin-top: 114vw;
    height: 100vw;
  }

  .seca3 {
    margin-top: -32vw;
    margin-left: -65.5vw;
  }
  .gopi {
    display: none;
  }

  .a3 {
    font-size: 9vw;
    margin-top: 42vw;
    margin-left: 100vw;
    text-align: center;
  }

  .a4 {
    font-size: 4vw;
    margin-top: 54vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a5 {
    font-size: 4vw;
    margin-top: 59vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a6 {
    font-size: 4vw;
    margin-top: 64vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a7 {
    font-size: 4vw;
    margin-top: 69vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a8 {
    font-size: 4vw;
    margin-top: 74vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a9 {
    font-size: 8vw;
    margin-top: 82vw;
    margin-left: 89.5vw;
    text-align: center;
  }

  .seca1 {
    margin-top: 98vw;
    position: absolute;
  }

  #toggle-image2 {
    display: block;
  }

  .seca2 {
    width: 100vw;
    height: 50vw;
    margin-top: 180vw;
    margin-left: 0vw;
    position: absolute;
  }

  .fit {
    display: block;
  }

  #sec1 {
    width: 33vw;
    height: 70vw;
    position: absolute;
    margin-top: 0vw;
    margin-left: 0vw;
    background-image: url("../img/myu3.svg");
    background-repeat: repeat;
    border: none;
    background-size: 33vw;
  }

  #sec2 {
    width: 33vw;
    height: 53vw;
    position: absolute;
    margin-top: 17vw;
    margin-left: 33vw;
    background-image: url("../img/myu2.svg");
    background-repeat: repeat;
    border: none;
    background-size: 33vw;
  }

  #sec3 {
    display: none;
  }

  #sec4 {
    width: 34vw;
    height: 70vw;
    position: absolute;
    margin-top: 0vw;
    margin-left: 66vw;
    background-image: url("../img/myu.svg");
    background-repeat: repeat;
    border: none;
    background-size: 34vw;
  }

  .bb1 {
    height: 23vw;
  }

  .bb1_1 {
    /* height: 100vw; */
    position: absolute;
    margin-top: 45.5vw;
    margin-left: 5vw;
  }

  .bb2 {
    height: 25vw;
  }

  .bb2_1 {
    /* height: 100vw; */
    position: absolute;
    margin-top: 40vw;
    margin-left: 45vw;
  }

  .bb3 {
    height: 17vw;
  }

  .bb3_1 {
    margin-top: 5vw;
    margin-left: 68vw;
  }

  .a1 {
    color: #dddddd;
    font-size: 9vw;
    margin-top: 2.5vw;
    margin-left: 39vw;
    position: absolute;
  }

  .a2 {
    color: #dddddd;
    font-family: "JostR";
    font-size: 4.5vw;
    margin-top: 11vw;
    margin-left: 34vw;
    position: absolute;
  }

  .seca5 {
    margin-top: 137vw;
    width: 100vw;
    margin-left: 0vw;
    position: absolute;
  }

  .b1 {
    color: #000000;
    font-size: 9vw;
    margin-top: 22vw;
    margin-left: 35vw;
    position: absolute;
  }

  .b2,
  .b3,
  .b4,
  .b5,
  .b6,
  .b7 {
    display: none;
  }

  .b2_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 32vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b3_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 36.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b4_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 41vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b5_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 45.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b6_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 50vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b7_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 54.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b8_1 {
    color: #000000;
    font-size: 3.5vw;
    margin-top: 59vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b9_1 {
    color: #000000;
    font-size: 3.5vw;
    margin-top: 63.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b8 {
    color: #000000;
    font-size: 6vw;
    margin-top: 71vw;
    margin-left: 7vw;
    position: absolute;
  }

  .seca4 {
    margin-top: 220vw;
    position: absolute;
  }

  #g1 {
    width: 14vw;
    height: 1vw;
    background-size: 15vw;
    margin-top: 15vw;
  }

  #g2 {
    width: 9vw;
    height: 0.5vw;
    background-size: 10vw;
    margin-top: 20vw;
  }

  #g3 {
    width: 14vw;
    height: 1vw;
    background-size: 15vw;
    margin-top: 20vw;
  }

  #g4 {
    width: 14vw;
    height: 1vw;
    background-size: 15vw;
    margin-top: 12vw;
  }

  #g5 {
    width: 9vw;
    height: 0.5vw;
    background-size: 10vw;
    margin-top: 20vw;
  }

  #g6 {
    width: 14vw;
    height: 1vw;
    background-size: 15vw;
    margin-top: 11vw;
  }

  #g7 {
    width: 9vw;
    height: 0.5vw;
    background-size: 10vw;
    margin-top: 27vw;
  }

  #g8 {
    width: 14vw;
    height: 1vw;
    background-size: 15vw;
    margin-top: 20vw;
  }

  #g9 {
    width: 9vw;
    height: 0.5vw;
    background-size: 10vw;
    margin-top: 20vw;
  }

  #g10 {
    width: 14vw;
    height: 1vw;
    background-size: 15vw;
    margin-top: 24vw;
  }

  #g11 {
    width: 10vw;
    height: 2vw;
    background-size: 10vw;
    margin-top: 20vw;
  }

  #g12 {
    width: 14vw;
    height: 3vw;
    background-size: 15vw;
    margin-top: 13vw;
  }

  #g13 {
    width: 10vw;
    height: 2vw;
    background-size: 10vw;
    margin-top: 18vw;
  }

  #g14 {
    width: 14vw;
    height: 3vw;
    background-size: 15vw;
    margin-top: 15vw;
  }

  #g16 {
    width: 11vw;
    height: 1.5vw;
    background-size: 11vw;
    margin-top: 32vw;
  }

  #g17 {
    width: 14vw;
    height: 2vw;
    background-size: 15vw;
    margin-top: 18vw;
  }

  #g18 {
    width: 11vw;
    height: 1.5vw;
    background-size: 11vw;
    margin-top: 13vw;
  }

  #g19 {
    width: 14vw;
    height: 2vw;
    background-size: 15vw;
    margin-top: 15vw;
  }

  #g20 {
    width: 14vw;
    height: 2vw;
    background-size: 15vw;
    margin-top: 30vw;
  }

  #g21 {
    width: 11vw;
    height: 1.5vw;
    background-size: 11vw;
    margin-top: 35vw;
  }

  #g22 {
    width: 14vw;
    height: 2vw;
    background-size: 15vw;
    margin-top: 20vw;
  }

  #g23 {
    width: 11vw;
    height: 1.5vw;
    background-size: 11vw;
    margin-top: 12vw;
  }

  #g24 {
    width: 14vw;
    height: 2vw;
    background-size: 15vw;
    margin-top: 14vw;
  }
}

@media screen and (max-width: 414px) and (orientation: landscape) {
  /* Горизонтальная ориентация для мобильных устройств */
  .f3,
  #pr2 {
    display: inline;
  }

  .god_anima,
  #op2 {
    display: none;
  }

  .blur_1 {
    display: none;
  }

  .h1 {
    font-size: 11vw;
    color: #e8e8e8;
    position: absolute;
    margin-top: -207vw;
    margin-left: 6vw;
  }

  .h2 {
    font-size: 5vw;
    font-family: "JostR";
    color: #d3d3d3;
    position: absolute;
    margin-top: -195vw;
    margin-left: 13vw;
  }

  .h3 {
    font-size: 5vw;
    font-family: "JostR";
    color: #bebdbd;
    position: absolute;
    margin-top: -190vw;
    margin-left: 17vw;
  }

  .section2 {
    margin-top: 114vw;
    height: 100vw;
  }

  .seca3 {
    margin-top: -32vw;
    margin-left: -65.5vw;
  }
  .gopi {
    display: none;
  }

  .gopi2 {
    display: block;
  }

  .a3 {
    font-size: 9vw;
    margin-top: 42vw;
    margin-left: 100vw;
    text-align: center;
  }

  .a4 {
    font-size: 4vw;
    margin-top: 54vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a5 {
    font-size: 4vw;
    margin-top: 59vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a6 {
    font-size: 4vw;
    margin-top: 64vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a7 {
    font-size: 4vw;
    margin-top: 69vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a8 {
    font-size: 4vw;
    margin-top: 74vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a9 {
    font-size: 8vw;
    margin-top: 82vw;
    margin-left: 89.5vw;
    text-align: center;
  }

  .seca1 {
    margin-top: 98vw;
    position: absolute;
  }

  #toggle-image2 {
    display: block;
  }

  .seca2 {
    width: 100vw;
    height: 50vw;
    margin-top: 180vw;
    margin-left: 0vw;
    position: absolute;
  }

  .fit {
    display: block;
  }

  #sec1 {
    width: 33vw;
    height: 70vw;
    position: absolute;
    margin-top: 0vw;
    margin-left: 0vw;
    background-image: url("../img/myu3.svg");
    background-repeat: repeat;
    border: none;
    background-size: 33vw;
  }

  #sec2 {
    width: 33vw;
    height: 53vw;
    position: absolute;
    margin-top: 17vw;
    margin-left: 33vw;
    background-image: url("../img/myu2.svg");
    background-repeat: repeat;
    border: none;
    background-size: 33vw;
  }

  #sec3 {
    display: none;
  }

  #sec4 {
    width: 34vw;
    height: 70vw;
    position: absolute;
    margin-top: 0vw;
    margin-left: 66vw;
    background-image: url("../img/myu.svg");
    background-repeat: repeat;
    border: none;
    background-size: 34vw;
  }

  .bb1 {
    height: 23vw;
  }

  .bb1_1 {
    /* height: 100vw; */
    position: absolute;
    margin-top: 45.5vw;
    margin-left: 5vw;
  }

  .bb2 {
    height: 25vw;
  }

  .bb2_1 {
    /* height: 100vw; */
    position: absolute;
    margin-top: 40vw;
    margin-left: 45vw;
  }

  .bb3 {
    height: 17vw;
  }

  .bb3_1 {
    margin-top: 5vw;
    margin-left: 68vw;
  }

  .a1 {
    color: #dddddd;
    font-size: 9vw;
    margin-top: 2.5vw;
    margin-left: 39vw;
    position: absolute;
  }

  .a2 {
    color: #dddddd;
    font-family: "JostR";
    font-size: 4.5vw;
    margin-top: 11vw;
    margin-left: 34vw;
    position: absolute;
  }

  .seca5 {
    margin-top: 137vw;
    width: 100vw;
    margin-left: 0vw;
    position: absolute;
  }

  .b1 {
    color: #000000;
    font-size: 9vw;
    margin-top: 22vw;
    margin-left: 35vw;
    position: absolute;
  }

  .b2,
  .b3,
  .b4,
  .b5,
  .b6,
  .b7 {
    display: none;
  }

  .b2_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 32vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b3_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 36.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b4_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 41vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b5_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 45.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b6_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 50vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b7_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 54.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b8_1 {
    color: #000000;
    font-size: 3.5vw;
    margin-top: 59vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b9_1 {
    color: #000000;
    font-size: 3.5vw;
    margin-top: 63.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b8 {
    color: #000000;
    font-size: 6vw;
    margin-top: 71vw;
    margin-left: 7vw;
    position: absolute;
  }

  .seca4 {
    margin-top: 220vw;
    position: absolute;
  }
}

/* ///////////////////////// Планшеты ///////////////////////// */
@media screen and (min-width: 415px) and (max-width: 767px) and (orientation: portrait) {
  /* Вертикальная ориентация для планшетов */
  .f4,
  #pr2 {
    display: inline;
  }

  .god_anima,
  #op2 {
    display: none;
  }

  .blur_1 {
    display: none;
  }

  .h1 {
    font-size: 11vw;
    color: #e8e8e8;
    position: absolute;
    margin-top: -207vw;
    margin-left: 6vw;
  }

  .h2 {
    font-size: 5vw;
    font-family: "JostR";
    color: #d3d3d3;
    position: absolute;
    margin-top: -195vw;
    margin-left: 13vw;
  }

  .h3 {
    font-size: 5vw;
    font-family: "JostR";
    color: #bebdbd;
    position: absolute;
    margin-top: -190vw;
    margin-left: 17vw;
  }

  .section2 {
    margin-top: 114vw;
    height: 100vw;
  }

  .seca3 {
    margin-top: -32vw;
    margin-left: -65.5vw;
  }

  .gopi {
    display: none;
  }

  .a3 {
    font-size: 9vw;
    margin-top: 42vw;
    margin-left: 100vw;
    text-align: center;
  }

  .a4 {
    font-size: 4vw;
    margin-top: 54vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a5 {
    font-size: 4vw;
    margin-top: 59vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a6 {
    font-size: 4vw;
    margin-top: 64vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a7 {
    font-size: 4vw;
    margin-top: 69vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a8 {
    font-size: 4vw;
    margin-top: 74vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a9 {
    font-size: 8vw;
    margin-top: 82vw;
    margin-left: 89.5vw;
    text-align: center;
  }

  .seca1 {
    margin-top: 98vw;
    position: absolute;
  }

  #toggle-image2 {
    display: block;
  }

  .seca2 {
    width: 100vw;
    height: 50vw;
    margin-top: 180vw;
    margin-left: 0vw;
    position: absolute;
  }

  .fit {
    display: block;
  }

  #sec1 {
    width: 33vw;
    height: 70vw;
    position: absolute;
    margin-top: 0vw;
    margin-left: 0vw;
    background-image: url("../img/myu3.svg");
    background-repeat: repeat;
    border: none;
    background-size: 33vw;
  }

  #sec2 {
    width: 33vw;
    height: 53vw;
    position: absolute;
    margin-top: 17vw;
    margin-left: 33vw;
    background-image: url("../img/myu2.svg");
    background-repeat: repeat;
    border: none;
    background-size: 33vw;
  }

  #sec3 {
    display: none;
  }

  #sec4 {
    width: 34vw;
    height: 70vw;
    position: absolute;
    margin-top: 0vw;
    margin-left: 66vw;
    background-image: url("../img/myu.svg");
    background-repeat: repeat;
    border: none;
    background-size: 34vw;
  }

  .bb1 {
    height: 23vw;
  }

  .bb1_1 {
    /* height: 100vw; */
    position: absolute;
    margin-top: 45.5vw;
    margin-left: 5vw;
  }

  .bb2 {
    height: 25vw;
  }

  .bb2_1 {
    /* height: 100vw; */
    position: absolute;
    margin-top: 40vw;
    margin-left: 45vw;
  }

  .bb3 {
    height: 17vw;
  }

  .bb3_1 {
    margin-top: 5vw;
    margin-left: 68vw;
  }

  .a1 {
    color: #dddddd;
    font-size: 9vw;
    margin-top: 2.5vw;
    margin-left: 39vw;
    position: absolute;
  }

  .a2 {
    color: #dddddd;
    font-family: "JostR";
    font-size: 4.5vw;
    margin-top: 11vw;
    margin-left: 34vw;
    position: absolute;
  }

  .seca5 {
    margin-top: 137vw;
    width: 100vw;
    margin-left: 0vw;
    position: absolute;
  }

  .b1 {
    color: #000000;
    font-size: 9vw;
    margin-top: 22vw;
    margin-left: 35vw;
    position: absolute;
  }

  .b2,
  .b3,
  .b4,
  .b5,
  .b6,
  .b7 {
    display: none;
  }

  .b2_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 32vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b3_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 36.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b4_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 41vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b5_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 45.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b6_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 50vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b7_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 54.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b8_1 {
    color: #000000;
    font-size: 3.5vw;
    margin-top: 59vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b9_1 {
    color: #000000;
    font-size: 3.5vw;
    margin-top: 63.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b8 {
    color: #000000;
    font-size: 6vw;
    margin-top: 71vw;
    margin-left: 7vw;
    position: absolute;
  }

  .seca4 {
    margin-top: 220vw;
    position: absolute;
  }
}

@media screen and (min-width: 415px) and (max-width: 767px) and (orientation: landscape) {
  /* Горизонтальная ориентация для планшетов */
  .f3,
  #pr2 {
    display: inline;
  }

  .god_anima,
  #op2 {
    display: none;
  }

  .blur_1 {
    display: none;
  }

  .h1 {
    font-size: 11vw;
    color: #e8e8e8;
    position: absolute;
    margin-top: -207vw;
    margin-left: 6vw;
  }

  .h2 {
    font-size: 5vw;
    font-family: "JostR";
    color: #d3d3d3;
    position: absolute;
    margin-top: -195vw;
    margin-left: 13vw;
  }

  .h3 {
    font-size: 5vw;
    font-family: "JostR";
    color: #bebdbd;
    position: absolute;
    margin-top: -190vw;
    margin-left: 17vw;
  }

  .section2 {
    margin-top: 114vw;
    height: 100vw;
  }

  .seca3 {
    margin-top: -32vw;
    margin-left: -65.5vw;
  }

  .gopi {
    display: none;
  }

  .a3 {
    font-size: 9vw;
    margin-top: 42vw;
    margin-left: 100vw;
    text-align: center;
  }

  .a4 {
    font-size: 4vw;
    margin-top: 54vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a5 {
    font-size: 4vw;
    margin-top: 59vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a6 {
    font-size: 4vw;
    margin-top: 64vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a7 {
    font-size: 4vw;
    margin-top: 69vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a8 {
    font-size: 4vw;
    margin-top: 74vw;
    margin-left: 78vw;
    text-align: center;
  }

  .a9 {
    font-size: 8vw;
    margin-top: 82vw;
    margin-left: 89.5vw;
    text-align: center;
  }

  .seca1 {
    margin-top: 98vw;
    position: absolute;
  }

  #toggle-image2 {
    display: block;
  }

  .seca2 {
    width: 100vw;
    height: 50vw;
    margin-top: 180vw;
    margin-left: 0vw;
    position: absolute;
  }

  .fit {
    display: block;
  }

  #sec1 {
    width: 33vw;
    height: 70vw;
    position: absolute;
    margin-top: 0vw;
    margin-left: 0vw;
    background-image: url("../img/myu3.svg");
    background-repeat: repeat;
    border: none;
    background-size: 33vw;
  }

  #sec2 {
    width: 33vw;
    height: 53vw;
    position: absolute;
    margin-top: 17vw;
    margin-left: 33vw;
    background-image: url("../img/myu2.svg");
    background-repeat: repeat;
    border: none;
    background-size: 33vw;
  }

  #sec3 {
    display: none;
  }

  #sec4 {
    width: 34vw;
    height: 70vw;
    position: absolute;
    margin-top: 0vw;
    margin-left: 66vw;
    background-image: url("../img/myu.svg");
    background-repeat: repeat;
    border: none;
    background-size: 34vw;
  }

  .bb1 {
    height: 23vw;
  }

  .bb1_1 {
    /* height: 100vw; */
    position: absolute;
    margin-top: 45.5vw;
    margin-left: 5vw;
  }

  .bb2 {
    height: 25vw;
  }

  .bb2_1 {
    /* height: 100vw; */
    position: absolute;
    margin-top: 40vw;
    margin-left: 45vw;
  }

  .bb3 {
    height: 17vw;
  }

  .bb3_1 {
    margin-top: 5vw;
    margin-left: 68vw;
  }

  .a1 {
    color: #dddddd;
    font-size: 9vw;
    margin-top: 2.5vw;
    margin-left: 39vw;
    position: absolute;
  }

  .a2 {
    color: #dddddd;
    font-family: "JostR";
    font-size: 4.5vw;
    margin-top: 11vw;
    margin-left: 34vw;
    position: absolute;
  }

  .seca5 {
    margin-top: 137vw;
    width: 100vw;
    margin-left: 0vw;
    position: absolute;
  }

  .b1 {
    color: #000000;
    font-size: 9vw;
    margin-top: 22vw;
    margin-left: 35vw;
    position: absolute;
  }

  .b2,
  .b3,
  .b4,
  .b5,
  .b6,
  .b7 {
    display: none;
  }

  .b2_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 32vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b3_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 36.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b4_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 41vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b5_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 45.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b6_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 50vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b7_1 {
    color: #000000;
    font-family: "JostR";
    font-size: 3.5vw;
    margin-top: 54.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b8_1 {
    color: #000000;
    font-size: 3.5vw;
    margin-top: 59vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b9_1 {
    color: #000000;
    font-size: 3.5vw;
    margin-top: 63.5vw;
    margin-left: 10vw;
    position: absolute;
  }

  .b8 {
    color: #000000;
    font-size: 6vw;
    margin-top: 71vw;
    margin-left: 7vw;
    position: absolute;
  }

  .seca4 {
    margin-top: 220vw;
    position: absolute;
  }
}

/* ///////////////////////// Маленькие экраны ///////////////////////// */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Вертикальная ориентация для экранов от 769px до 1024px (маленькие экраны) */
  .f2,
  #pr2 {
    display: inline;
  }

  .god_anima,
  .b2_1,
  .b3_1,
  .b4_1,
  .b5_1,
  .b6_1,
  .b7_1,
  .b8_1,
  .b9_1 {
    display: none;
  }

  .blur_1 {
    margin-left: -5vw;
    margin-top: 76vw;
  }

  .h1 {
    font-size: 8.5vw;
    color: #e8e8e8;
    position: absolute;
    margin-top: -65vw;
    margin-left: 19.5vw;
  }

  .h2 {
    font-size: 3.3vw;
    font-family: "JostR";
    color: #d3d3d3;
    position: absolute;
    margin-top: -56.5vw;
    margin-left: 27vw;
  }

  .h3 {
    font-size: 3.3vw;
    font-family: "JostR";
    color: #bebdbd;
    position: absolute;
    margin-top: -53vw;
    margin-left: 28vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Горизонтальная ориентация для экранов от 769px до 1024px (маленькие экраны) */
  .f2,
  .pr {
    display: inline;
  }

  .god_anima,
  .b2_1,
  .b3_1,
  .b4_1,
  .b5_1,
  .b6_1,
  .b7_1,
  .b8_1,
  .b9_1 {
    display: none;
  }
}

/* ///////////////////////// Средние экраны ///////////////////////// */
@media screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: portrait) {
  /* Вертикальная ориентация для экранов от 1025px до 1366px */
  .f1,
  .pr,
  #toggle-image,
  .pryt1,
  #bkbir2 {
    display: inline;
  }

  .b2_1,
  .b3_1,
  .b4_1,
  .b5_1,
  .b6_1,
  .b7_1,
  .b8_1,
  .b9_1 {
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
  /* Горизонтальная ориентация для экранов от 1025px до 1366px */
  .f1,
  .pr,
  #toggle-image,
  .pryt1,
  #bkbir2 {
    display: inline;
  }

  .b2_1,
  .b3_1,
  .b4_1,
  .b5_1,
  .b6_1,
  .b7_1,
  .b8_1,
  .b9_1 {
    display: none;
  }
}

/* ///////////////////////// Большие экраны ///////////////////////// */
@media screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: portrait) {
  /* Вертикальная ориентация для экранов от 1367px до 1920px */
  .f1,
  .pr,
  #toggle-image,
  .pryt1,
  #bkbir2 {
    display: inline;
  }

  .b2_1,
  .b3_1,
  .b4_1,
  .b5_1,
  .b6_1,
  .b7_1,
  .b8_1,
  .b9_1 {
    display: none;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: landscape) {
  /* Горизонтальная ориентация для экранов от 1367px до 1920px */
  .f1,
  .pr,
  #toggle-image,
  .pryt1,
  #bkbir2 {
    display: inline;
  }

  .b2_1,
  .b3_1,
  .b4_1,
  .b5_1,
  .b6_1,
  .b7_1,
  .b8_1,
  .b9_1 {
    display: none;
  }
}

/* ///////////////////////// Очень большие экраны ///////////////////////// */
@media screen and (min-width: 1921px) and (orientation: portrait) {
  /* Вертикальная ориентация для экранов шире 1920px */
  .f1,
  .pr,
  #toggle-image,
  .pryt1,
  #bkbir2 {
    display: inline;
  }

  .b2_1,
  .b3_1,
  .b4_1,
  .b5_1,
  .b6_1,
  .b7_1,
  .b8_1,
  .b9_1 {
    display: none;
  }
}

@media screen and (min-width: 1921px) and (orientation: landscape) {
  /* Горизонтальная ориентация для экранов шире 1920px */
  .f1,
  .pr,
  #toggle-image,
  .pryt1,
  #bkbir2 {
    display: inline;
  }

  .b2_1,
  .b3_1,
  .b4_1,
  .b5_1,
  .b6_1,
  .b7_1,
  .b8_1,
  .b9_1 {
    display: none;
  }
}

/* ///////////////////////// Ультра-HD экраны (4K и выше) ///////////////////////// */
@media screen and (min-width: 2561px) {
  /* Поддержка для ультра-HD экранов */
  .f1,
  .pr,
  #toggle-image,
  .pryt1,
  #bkbir2 {
    display: inline;
  }

  .b2_1,
  .b3_1,
  .b4_1,
  .b5_1,
  .b6_1,
  .b7_1,
  .b8_1,
  .b9_1 {
    display: none;
  }
}
