.kos1 {
  height: 15vw;
}

.kost1 {
  height: 100vw;
  position: absolute;
  margin-top: 195vw;
  margin-left: 30vw;
}

.kos2 {
  height: 15vw;
}

.kost2 {
  height: 100vw;
  position: absolute;
  margin-top: 195vw;
  margin-left: 70vw;
}

.wom {
  height: 17vw;
}

.wom1 {
  height: 100vw;
  position: absolute;
  margin-top: 192vw;
  margin-left: 4vw;
}
